
.bg-img {
  background-image: url('https://i.insider.com/5da87a534af909256d768f15?width=1000&format=jpeg&auto=webp'); 
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  height: 100vh;
}




